header {
    background-color: rgb(201, 196, 129);
    padding: 2rem;

    .header-container {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            padding-right: 2rem;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
            font-weight: 900;
        }
    }
}